.themes_card{
    position: fixed;
    left: 50%;
    top: 50%;
    animation: appeared 0.6s ease-in-out forwards;
    transition: 0.8s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 600px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border: 3px solid white;
    opacity: 1;
    background-color: #b3a7d4;
}

.theme-top-panel{
    background: linear-gradient(to right,  #ee0979, #3b82f6);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    backdrop-filter: blur(50px);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.thematic_card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
    transition: 0.3s ease-in;
}


/*Thematic strokes*/
.thematic_card:hover{
    width: 240px;
    padding-left: 10px;
    padding-right: 10px;
}


.thematic_card_fluent_icon{
    margin-bottom: 10px;
    z-index: 3;
}


#thematic-card-1{
    background-image: url("https://i.pinimg.com/736x/5d/44/fe/5d44fe2538b9b095bb7b85150dcfe213.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
    opacity: 1;
    backdrop-filter: blur(20px);

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(3px);
        z-index: 2;
        border-radius: 20px;
        transition: 0.2s ease-in-out;
    }

    &:hover::after{
        backdrop-filter: blur(0px);
    }

}

#thematic-card-2{
    background-image: url("https://i.pinimg.com/736x/50/4c/19/504c194ba474a10bf60d8c807f06186a.jpg");
    background-size: cover;
    background-position: center right 25%;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
    opacity: 1;
    backdrop-filter: blur(20px);

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(3px);
        z-index: 2;
        border-radius: 20px;
        transition: 0.2s ease-in-out;
    }

    &:hover::after{
        backdrop-filter: blur(0px);
    }

}

#thematic-card-3{
    background-image: url("https://i.pinimg.com/736x/8f/ce/ca/8fcecaf314f77dedb2bdf3fecd5f2382.jpg");
    background-size: cover;
    background-position: center right 25%;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
    opacity: 1;
    backdrop-filter: blur(20px);

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(3px);
        z-index: 2;
        border-radius: 20px;
        transition: 0.2s ease-in-out;
    }

    &:hover::after{
        backdrop-filter: blur(0px);
    }

}


#thematic-card-4{
    background-image: url("https://i.pinimg.com/736x/aa/17/a3/aa17a367433a61872a5a2db5546ffe75.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
    opacity: 1;
    backdrop-filter: blur(20px);

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(3px);
        z-index: 2;
        border-radius: 20px;
        transition: 0.2s ease-in-out;
    }

    &:hover::after{
        backdrop-filter: blur(0px);
    }

}


#thematic-card-5{
    background-image: url("https://static.wikia.nocookie.net/4089e253-1e7a-4cf4-9193-d5f0191c93c2");
    background-size: cover;
    background-position: center left 40%;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
    opacity: 1;
    backdrop-filter: blur(20px);

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(3px);
        z-index: 2;
        border-radius: 20px;
        transition: 0.2s ease-in-out;
    }

    &:hover::after{
        backdrop-filter: blur(0px);
    }

}

@keyframes thematic_appeared{
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

.thematic-overlay{
    animation: thematic_appeared 0.5s ease-in-out;
    width: 110%;
    border-radius: 20px;

}







