.image-board{
    background-image: url("https://images7.alphacoders.com/135/1354305.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
}
.image-board:hover{
    transform: scale(1.02);
}
